/*TOGETHER*/

body {
    margin: auto 0;
    font-family: 'League Spartan', sans-serif;
}

.zone {
    /* padding: 30px 50px;
    margin: 40px 60px; */
    /* display: inline-block; */
    color: #FFF;
    font-size: 2em;
    /* border: 1px solid #bbb; */
    transition: all 0.3s linear;
    position:relative;
    z-index:1;
    cursor: default;
    -webkit-box-shadow:rgba(0,0,0,0.2) 0px 5px 15px, inset rgba(0,0,0,0.3) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.2) 0px 5px 15px, inset rgba(0,0,0,0.3) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.2) 0px 5px 15px, inset rgba(0,0,0,0.3) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.2) 0px 5px 15px, inset rgba(0,0,0,0.3) 0px -10px 20px;
}

/* .zone:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
} */

.box:hover {
    -webkit-transform: rotate(1deg);
    -moz-transform: rotate(1deg);
    -o-transform: rotate(1deg);
    transform: rotate(1deg);
    overflow:hidden;
}

/*NAVIGATION*/

.nav {
    border-bottom: 1px solid #FFF;
}

.main-nav {
    display: flex;
    list-style: none;
    font-size: 0.7em;
    margin: 0;
}

@media only screen and (max-width: 600px) {
    .main-nav {
        font-size: 0.5em;
        padding: 0;
    }
}

.push {
    margin-left: auto;
}

li {
    padding: 20px;
}

a {
    color: #FFF;
    text-decoration: none;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:2;
}

/*COVER*/

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.container-size-sm {
    height: 10vh;
}

.text-container {
    display: flex;
    align-self: flex-end;
    justify-self: center;
}

.img-fit {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 2px 2px 8px #000000;
    letter-spacing: 7px;
  }

figcaption {
    text-align: center;
}

.text-size-sm {
    font-size: 40%;
}

.text-size-md {
    font-size: 0.9em;
}

.border {
    border: 1px solid white;
    padding: 25px 40px;
}
/*GRID*/

.grid-about {
    display: grid;
    grid-gap: 20px;
    text-align: center;
}

.grid-wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.box > img {
    width: 100%;
}

.box {
    background-color: #444;
    padding: 100px;
    margin: 40px;
    cursor: pointer;
}

footer {
    text-align: center;
}

.padding {
    padding: 0px 10px 10px 10px;
}

/*COLORS*/

.green-gd {
    background: rgb(22, 158, 33);
    background: linear-gradient(180deg, rgb(15, 145, 25) 5%, rgb(72, 243, 118) 100%);
    background: -moz-linear-gradient(180deg, rgb(15, 145, 25) 5%, rgb(72, 243, 118) 100%);
    background: -o-linear-gradient(180deg, rgb(15, 145, 25) 5%, rgb(72, 243, 118) 100%);
}

.red-gd {
    background: rgb(207, 22, 22);
    background: linear-gradient(180deg, rgb(168, 18, 18) 5%, rgb(243, 72, 72) 100%);
    background: -moz-linear-gradient(180deg, rgb(168, 18, 18) 5%, rgb(243, 72, 72) 100%);
    background: -o-linear-gradient(180deg, rgb(168, 18, 18) 5%, rgb(243, 72, 72) 100%);
}

.blue-gd {
    background: rgb(27, 112, 192);
    background: linear-gradient(180deg, rgb(56, 96, 206) 5%, rgb(93, 147, 247) 100%);
    background: -moz-linear-gradient(180deg, rgb(56, 96, 206) 5%, rgb(93, 147, 247) 100%);
    background: -o-linear-gradient(180deg, rgb(56, 96, 206) 5%, rgb(93, 147, 247) 100%);
}

.yellow-gd {
    background: rgb(200, 212, 25);
    background: linear-gradient(180deg, rgb(184, 181, 20) 5%, rgb(240, 243, 72) 100%);
    background: -moz-linear-gradient(180deg, rgb(184, 181, 20) 5%, rgb(240, 243, 72) 100%);
    background: -o-linear-gradient(180deg, rgb(184, 181, 20) 5%, rgb(240, 243, 72) 100%);
}

.white-gd {
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgb(165, 165, 165) 5%, rgb(255, 255, 255) 50%, rgb(255, 255, 255) 100%);
    background: -moz-linear-gradient(180deg, rgb(165, 165, 165) 5%, rgb(255, 255, 255) 100%);
    background: -o-linear-gradient(180deg, rgb(165, 165, 165) 5%, rgb(255, 255, 255) 100%);
}

.brown-gd {
    background: rgb(132, 89, 69);
    background: linear-gradient(180deg, rgb(129, 66, 56) 5%, rgb(139, 88, 80) 100%);
    background: -moz-linear-gradient(180deg, rgb(129, 66, 56) 5%, rgb(139, 88, 80) 100%);
    background: -o-linear-gradient(180deg, rgb(129, 66, 56) 5%, rgb(139, 88, 80) 100%);
}

.light-brown-gd {
    background: rgb(155, 102, 77);
    background: linear-gradient(180deg, rgb(170, 111, 102) 5%, rgb(205, 155, 147) 100%);
    background: -moz-linear-gradient(180deg, rgb(170, 111, 102) 5%, rgb(205, 155, 147) 100%);
    background: -o-linear-gradient(180deg, rgb(170, 111, 102) 5%, rgb(205, 155, 147) 100%);
}

.dark-brown-gd {
    background: rgb(85, 58, 45);
    background: linear-gradient(180deg, rgb(102, 67, 55) 5%, rgb(141, 96, 81) 100%);
    background: -moz-linear-gradient(180deg, rgb(102, 67, 55) 5%, rgb(141, 96, 81) 100%);
    background: -o-linear-gradient(180deg, rgb(102, 67, 55) 5%, rgb(141, 96, 81) 100%);
}

.brown {
    background-color: rgb(131, 70, 52);
}

.text-black {
    color: black;
}

.text-white {
    color: white;
}

/*ALIGN*/
.align-left {
    display: flex;
    align-self: start;
    justify-content: left;
    align-items: left;
    margin-right: auto;
}

.subscribe {
    font-size: 70%;
}

.about {
    padding-left: 10px;
}