/*TOGETHER*/

html {
    scroll-behavior:smooth;
    height: 100%;
  }

body {
    margin: auto 0;
    font-family: 'League Spartan', sans-serif;
    background: rgb(132, 89, 69);
    background: linear-gradient(180deg, rgb(104, 53, 45) 5%, rgb(100, 59, 53) 100%);
    background: -moz-linear-gradient(180deg, rgb(104, 53, 45) 5%, rgb(100, 59, 53) 100%);
    background: -o-linear-gradient(180deg, rgb(104, 53, 45) 5%, rgb(100, 59, 53) 100%);
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.zone {
    /* padding: 30px 50px;
    margin: 40px 60px; */
    color: #FFF;
    font-size: 2em;
    /* border: 1px solid #bbb; */
    transition: all 0.3s linear;
    position:relative;
    z-index:1;
    cursor: default;
}

.zone-center {
    display: flex;
    /* padding: 30px 50px;
    margin: 40px 60px; */
    color: #FFF;
    font-size: 2em;
    /* border: 1px solid #bbb; */
    transition: all 0.3s linear;
    position:relative;
    z-index:1;
    cursor: default;
    justify-content: center;
    box-shadow: 0px -3px 3px rgba(0, 0, 0, 0.281);
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.281);
}

.zone-shadow {
    -webkit-box-shadow:rgba(0,0,0,0.2) 0px 5px 15px, inset rgba(0,0,0,0.3) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.2) 0px 5px 15px, inset rgba(0,0,0,0.3) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.2) 0px 5px 15px, inset rgba(0,0,0,0.3) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.2) 0px 5px 15px, inset rgba(0,0,0,0.3) 0px -10px 20px;
}

/* .zone:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
} */

.box:hover {
    background: rgb(136, 74, 63);
}

/*NAVIGATION*/

.nav {
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.281);
}

.main-nav {
    display: flex;
    list-style: none;
    font-size: 0.7em;
    margin: 0;
}

.push {
    margin-left: auto;
}

li {
    padding: 20px;
}

a {
    color: #FFF;
    text-decoration: none;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:2;
}
 
/*COVER*/

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.container-size-sm {
    height: 10vh;
}

.text-container {
    display: flex;
    align-self: flex-end;
    justify-self: center;
}

.img-fit {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 2px 2px 8px #000000;
    letter-spacing: 7px;
}

figcaption {
    text-align: center;
}

.text-size-sm {
    font-size: 20px;
}

.text-size-md {
    font-size: 30px;
}

.text-size-big {
    font-size: 40px;
}

.border {
    border: 1px solid white;
    padding: 25px 40px;
}

.border-brwn {
    border: 1px solid rgb(141, 96, 81);
    padding: 25px 40px;
}

/*REGISTER*/

.background-img {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(img/site2.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}

.form-box {
    width: 380px;
    height: 480px;
    position: relative;
    margin: 15% auto;
    background: rgba(255, 255, 255, 0.753);
    padding: 5px;
    overflow: hidden;
}

.button-box {
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}

.toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border-radius: 30px;
    transition: .5s;
}

.social-icons {
    margin: 30px auto;
    text-align: center;
}

.social-icons img {
    width: 30px;
    margin: 0 12px;
    box-shadow: 0 0 20px 0 #7f7f7f3d;
    cursor: pointer;
    border-radius: 30%;
}

.input-group {
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.submit-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #ff105f,#ffad06);
    border: 0;
    outline: none;
    border-radius: 30px;
}

.check-box {
    margin: 30px 10px 30px 0;
}

span {
    font-size: 16px;
    bottom: 63px;
    position: absolute;
}

#login {
    left: 50px;
}

#register {
    left: 450px;
}

/*GRID*/

.grid-about {
    display: grid;
    grid-gap: 20px;
    text-align: center;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(6%, 12%));
}

.box > img {
    width: 154%;
    height: 137%;
    orientation: landscape;
}

.box {
    display: flex;
    background-color: #444;
    padding: 20px 26px 26px 26px;
    margin: 9px 4px 4px 4px;
    cursor: pointer;
    width: 13%;
    height: 22%;
    justify-content: center;
    justify-self: center;
    align-self: center;
}

footer {
    text-align: center;
}

.padding {
    padding: 0px 10px 10px 10px;
}

.border-brwn-top {
    border-top: 1px solid rgb(141, 96, 81);
    padding-top: 7px;
    margin: 0px 400px;
}

/*COLORS*/

.green-gd {
    background: rgb(22, 158, 33);
    background: linear-gradient(180deg, rgb(15, 145, 25) 5%, rgb(72, 243, 118) 100%);
    background: -moz-linear-gradient(180deg, rgb(15, 145, 25) 5%, rgb(72, 243, 118) 100%);
    background: -o-linear-gradient(180deg, rgb(15, 145, 25) 5%, rgb(72, 243, 118) 100%);
}

.red-gd {
    background: rgb(207, 22, 22);
    background: linear-gradient(180deg, rgb(168, 18, 18) 5%, rgb(243, 72, 72) 100%);
    background: -moz-linear-gradient(180deg, rgb(168, 18, 18) 5%, rgb(243, 72, 72) 100%);
    background: -o-linear-gradient(180deg, rgb(168, 18, 18) 5%, rgb(243, 72, 72) 100%);
}

.blue-gd {
    background: rgb(27, 112, 192);
    background: linear-gradient(180deg, rgb(56, 96, 206) 5%, rgb(93, 147, 247) 100%);
    background: -moz-linear-gradient(180deg, rgb(56, 96, 206) 5%, rgb(93, 147, 247) 100%);
    background: -o-linear-gradient(180deg, rgb(56, 96, 206) 5%, rgb(93, 147, 247) 100%);
}

.yellow-gd {
    background: rgb(200, 212, 25);
    background: linear-gradient(180deg, rgb(184, 181, 20) 5%, rgb(240, 243, 72) 100%);
    background: -moz-linear-gradient(180deg, rgb(184, 181, 20) 5%, rgb(240, 243, 72) 100%);
    background: -o-linear-gradient(180deg, rgb(184, 181, 20) 5%, rgb(240, 243, 72) 100%);
}

.white-gd {
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgb(165, 165, 165) 5%, rgb(255, 255, 255) 50%, rgb(255, 255, 255) 100%);
    background: -moz-linear-gradient(180deg, rgb(165, 165, 165) 5%, rgb(255, 255, 255) 100%);
    background: -o-linear-gradient(180deg, rgb(165, 165, 165) 5%, rgb(255, 255, 255) 100%);
}

.white {
    background-color: white;
}

.brown-gd {
    background: rgb(132, 89, 69);
    background: linear-gradient(180deg, rgb(104, 53, 45) 5%, rgb(100, 59, 53) 100%);
    background: -moz-linear-gradient(180deg, rgb(104, 53, 45) 5%, rgb(100, 59, 53) 100%);
    background: -o-linear-gradient(180deg, rgb(104, 53, 45) 5%, rgb(100, 59, 53) 100%);
}

.light-brown-gd {
    background: rgb(155, 102, 77);
    background: linear-gradient(180deg, rgb(170, 111, 102) 5%, rgb(205, 155, 147) 100%);
    background: -moz-linear-gradient(180deg, rgb(170, 111, 102) 5%, rgb(205, 155, 147) 100%);
    background: -o-linear-gradient(180deg, rgb(170, 111, 102) 5%, rgb(205, 155, 147) 100%);
}

.dark-brown-gd {
    background: rgb(85, 58, 45);
    background: linear-gradient(180deg, rgb(102, 67, 55) 5%, rgb(141, 96, 81) 100%);
    background: -moz-linear-gradient(180deg, rgb(102, 67, 55) 5%, rgb(141, 96, 81) 100%);
    background: -o-linear-gradient(180deg, rgb(102, 67, 55) 5%, rgb(141, 96, 81) 100%);
}

.brown {
    background-color: rgb(117, 65, 57);
}

.brown-bg {
    background: rgb(104, 53, 45); 
}

.text-black {
    color: black;
}

.text-white {
    color: white;
}

.symbols {
    font-family: 'Noto Sans Symbols 2', sans-serif;
}

/*ALIGN*/
.align-left {
    display: flex;
    align-self: start;
    justify-content: left;
    align-items: left;
    margin-right: auto;
}

.subscribe {
    font-size: 70%;
}

.about {
    padding-left: 10px;
}

.top {
    position: absolute;
    bottom: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 2px 2px 8px #000000;
    letter-spacing: 1px;
    font-size: 35%;
}

.bottom {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 2px 2px 8px #000000;
    letter-spacing: 1px;
    font-size: 35%;
}

.text-size-sml {
    font-size: 13px;
}

@media only screen and (max-width: 900px) {
    .box {
        padding: 10px 16px 16px 16px;
        margin: 10px 6px 6px 6px;
        width: 18px;
        height: 18px;
    }

    .box > img {
        width: 136%;
        height: 120%;
        orientation: landscape;
    }
    
    .top {
        font-size: 15%;
        bottom: 90%;
    }
}

@media only screen and (max-width: 600px) {
    .main-nav {
        font-size: 0.5em;
        padding: 0;
    }
    .box {
        padding: 10px 16px 16px 16px;
        margin: 10px 6px 6px 6px;
        width: 10px;
        height: 10px;
    }

    .box > img {
        width: 176%;
        height: 170%;
        orientation: landscape;
    }

    .top {
        font-size: 12%;
        bottom: 90%;
    }
}